<div class="flex flex-1 bg-slate-200 pt-1">
  <section class="basis-20 shrink-0 px-1">
    <%= render partial: "filters" %>
  </section>
  <section class="bg-white flex-[4]">
    <%= turbo_frame_tag "services" do %>
      <div id="services">
        <% if @services.empty? %>
          <div class="text-center text-2xl text-gray-500 py-4">No services found</div>
        <% else %>
          <% @services.each do |service| %>
            <%= render partial: "service_card", locals: {service: service} %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
  <section class="flex-[3] px-1">
   <%= js_map [{latitude: 37.7829, longitude: -122.4190 }],id: "cities-map", height: "100%"%>
  </section> 
</div>
