@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply flex items-center justify-center rounded-md bg-blue-600 hover:bg-blue-800 text-white px-6 py-2.5 font-semibold hover:shadow-lg hover:drop-shadow transition duration-200;
  }

  .btn-secondary {
    @apply flex items-center text-black dark:text-white justify-center px-6 py-2.5 font-semibold;
  }

  .range-slider-inputs {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 16px;
      height: 16px;
      background-color: #1975d2;
      border-radius: 50%;
      cursor: pointer;
    }
    
    &::-moz-range-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #C6C6C6;
      cursor: pointer;  
    }
    
    &::-webkit-slider-thumb:hover {
      background: #f7f7f7;
    }
    
    &::-webkit-slider-thumb:active {
      box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
      -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    }
  
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }
}
