<div class="grid grid-cols-7 gap-1">
  <!-- Display Days of the Week as Headers -->
  <% days_of_week = %w[Sun Mon Tues Wed Thur Fri Sat] %>
  <% days_of_week.each do |day| %>
    <div class="p-2 font-bold text-center">
      <%= day %>
    </div>
  <% end %>

  <!-- Display Dates Starting from Today -->
  <% start_date = Date.today.beginning_of_week %>
  <% end_date = (Date.today + 30).end_of_week %>
  <% (start_date..end_date).each do |date| %>
    <% availabilities = @availabilities[date] || [] %>
    <div class="p-4 border rounded-lg
                <% if availabilities.present? %>
                  bg-green-500 text-white
                <% else %>
                  bg-gray-300 text-gray-600
                <% end %>
                ">
      <%= date.day %>
    </div>
  <% end %>
</div>
